body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #354458;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  grid-area: "h","r","f";
}
svg{
  cursor: pointer;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));

}
i{
  font-size: 40px;
  animation: microphone 1s alternate infinite;
  
}
.timing{
  transform: translate(195px,-170px) ;
  transition: opacity .4s;
}
.timing>i{
  margin-right:20px
}
svg> g:hover{
  fill:#9d111a;
}
.hidden{
  opacity: 0;  
}
.visible{
  opacity: 1;
}
header{
  grid: h;
}
main{
  grid: r;
  height: 80vh;
  display: grid;
  justify-content: center; 
  
}
footer{

  grid:f;    
  text-align: center;
}
a {
  color: #00B7FF;
}
.node{
  color: rgb(12, 12, 12);
  animation: colorChange 5s  cubic-bezier(.72,-0.03,.49,1.05) infinite alternate ;
}
.node > span{
  color: #5BB12F  ;
  animation: colorChange 5s cubic-bezier(.27,1.21,.93,.17) infinite alternate-reverse ;
}
@keyframes colorChange{
  0%{
    color: rgb(12, 12, 12);
  }
  100%{
    color: #5BB12F  ;
  }
}
@keyframes microphone {
  from{
    color:white;
  }
  to{
    color:rgb(170, 57, 57);
  }
}
@keyframes opacity{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}